/* MAIN SECTION */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
    background-color: #2e7d32;
}
.card-text{
    align-items: center;
    font-size: 70px;
    font-weight: 700;
}
.card-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}