/* OVERALL */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: normal;
  height: 100vh;
  width: 98vw;
}
h1, h2 {
  color: black;
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 800;
}
h3, h4, h5, h6 {
  color: black;
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* SIDEBAR */
.sidebar {
    grid-area: sidebar;
    height: 100vh;
    justify-content: space-between;
    background-color: #faf6f6da;
}
.sidebar-logo{
  height: 70px;
  margin-right: 10px;
  float: left;
}
.sidebar-user {
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 200;
    margin-left: 40px;
    /* border-bottom: 2px solid grey; */
  }


/* MAIN SECTION */
.date-picker{
  margin:10px;
}

.day-display{
    height:50vh;
}

.card {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border-radius: 5px;
  background-color: #E8E8E8;
  text-align: center;
}

.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
}

.shift-tab{
    font-weight: 500;
    font-size: medium;
}


/* WEEK */


/* to add shadows */
.chart{
  border: 2px solid lightgrey;
  justify-content: space-around;
  padding: 25px;
  border-radius: 5px;
  margin: 5px;
}

/* LCP */


.rc-slider-track {
  background-color: #6495ED;
}

.rc-slider-handle {
  background-color: #B0C4DE;
  border: solid 2px black;
}

.rc-slider-dot-active {
  border: solid 1px black;
}


.rc-slider-handle:hover {
  border: solid 2px black;
}

.rc-slider-handle-active:active {
  border: solid 2px black;
}

.rc-slider-handle:focus {
  border: solid 2px black;
}

.rc-slider-rail {
  background-color: #C5EAF7;
}

.rc-slider-dot {
  border: solid 1px black;
}


.slidertitle{
    text-align:center;
    text-decoration:underline;
    padding: 5px;
}

.costtable{
    background-color: #FEB56A;
    align-items: center;
    height: 30vh;
}

.slidertext{
    padding: 5px;
    text-align: left;
    margin-left: 15px;
}

.costtabletext{
    padding: 10px;
    font-size: medium;
    font-weight: 300;
}

.graph-title{
    font-size: 20px;
    margin: 5px 0;
    padding: 0;
    text-align:center;
}

.graph-container{
    margin-top: -5px;

}
/* Day page */


.histogram-container {
    margin-top: 10px;
    padding: 30px;
    background-color:   #F4F4F4;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #e9ecef;
    width: 100%; /* Adjust width as needed */
    max-width: 800px; /* Set a maximum width for responsiveness */
}


.DateRangePicker.DateRangePicker_1 .DateInput.DateInput_1:first-child .DateInput_input.DateInput_input_1 {
    background-color: #F9AF85

}
